@model IEnumerable<Order>

@{
    Layout = "_AdminLayout";
}

<div class="bg-primary panel-body"><h4>Orders</h4></div>
<table class="table table-condensed table-bordered">
    <tr><th>Order ID</th><th>Customer</th><th>Status</th><th>Operations</th></tr>
    @if (Model.Count() == 0)
    {
        <tr><td colspan="3" class="text-center">No Orders</td></tr>
    }
    else
    {
        foreach (Order order in Model)
        {
            <tr>
                <td>@order.OrderID</td>
                <td>@order.AppUser.CustomerName</td>
                <td>@order.ShippingStatus</td>
               
                <td>
                    @if (@order.ShippingStatus != "Shipped")
                    {
                        <a asp-action="ChangeOrderState" class="btn btn-sm btn-success"
                           asp-route-orderId="@order.OrderID">Ship</a>
                    }
                    else
                    {
                        <a asp-action="ChangeOrderState" class="btn btn-sm btn-warning"
                           asp-route-orderId="@order.OrderID">Hold</a>
                    }
                </td>
            </tr>
        }
    }
</table>
